
.hidden{
    opacity: 0;
    transition:all 0.3s;
}

.show{
  opacity: 1;
  transition: all 0.3s;
}

@media (prefers-reduced-motion) {
    .hidden {
     transition: none;
    }
  }


.company-logo {
    position: absolute;
    width: 40px;
    border-radius: 50px;
    right: -20px;
    z-index: 2;
    top: 32px;
}

.right{
    left:-20px;
}

.company-wrapper{
    min-width: 400px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background: rgba(19, 67, 98, 0.329);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
    height: 100%;

}





